// flex
.flex {
  display: flex;

  &-coll {
    flex-direction: column;
  }
}

// justify content
.justify {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
}

// align items

.items {
  &-center {
    align-items: center;
  }

  &-end {
    align-items: flex-end;
  }

  &-start {
    align-items: flex-start;
  }
}

// gap
.gap {
  &-2 {
    gap: 2px;
  }

  &-4 {
    gap: 4px;
  }

  &-6 {
    gap: 6px;
  }

  &-8 {
    gap: 8px;
  }

  &-10 {
    gap: 10px;
  }

  &-15 {
    gap: 15px;
  }

  &-25 {
    gap: 25px;
  }

  &-30 {
    gap: 30px;
  }
}

//  padding
.p {
  &-2 {
    padding: 2px;
  }

  &-4 {
    padding: 4px;
  }

  &-6 {
    padding: 6px;
  }

  &-8 {
    padding: 8px;
  }

  &-10 {
    padding: 10px;
  }

  &-20 {
    padding: 20px;
  }

  &-30 {
    padding: 30px;
  }
}

// padding left

.pl {
  &-100 {
    padding-left: 100px;
  }
}

.pr {
  &-100 {
    padding-right: 100px;
  }
}

// margin
.m {
  &-2 {
    margin: 2px;
  }

  &-4 {
    margin: 4px;
  }

  &-6 {
    margin: 6px;
  }

  &-8 {
    margin: 8px;
  }

  &-10 {
    margin: 10px;
  }

  &-30 {
    margin: 30px;
  }
}

.mr {
  &-130 {
    margin-right: 130px;
  }
}

.pb {
  &-50 {
    padding-bottom: 50px;
  }
}

.ml {
  &-130 {
    margin-left: 100px;
  }
}
// overflow x
.flex-wrap {
  flex-wrap: wrap;
}

// width
.w-full {
  width: 100%;
}
// white color
.bg-white {
  background-color: $white;
}
// border
.shadow-grey {
  box-shadow: 4px 6px 14px -9px $shadow;
}
