.my-loader {
  color: $volopay-pink;
  width: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: loader 0.5s infinite alternate linear;
  margin: 20px auto;
}

@keyframes loader {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

// search box

.search-box {
  border-radius: 10px;
  padding-left: 8px;
  border: 0.4px solid $black-dark;
}

// filter

.filter {
  select {
    border: none;
  }
  border-radius: 10px;
  border: 0.4px solid $black-dark;
}
