$burner-outline: #b197fc;
$burner-BGcolor: #f3f0ff;
$burner-color: #9775fa;

$subscription-outline: #087f5b;
$subscription-BGcolor: #e6fcf5;
$subscription-color: #087f5b;

$black-medium: #ced4da;
$white: #fff;
$black-dark: #343a40;
$black-budget-name: #adb5bd;
// shadow color
$shadow: #ced4da;
// from website
$volopay-pink: #ff3366;
$volopay-pink-light: #fff5f5;

// icon color
$spent-BGcolor: #ffc9c9;
$spent-color: red;

$availale-BGcolor: #d3f9d8;
$availale-color: #37b24d;
